## Homeless Encampments in LA

##### Spring 2025
##### Amanda Alonzo
##### I513 Usable AI
##### Indiana University, Bloomington

## Machine Learning Predictions

#### Prerequisite: 4_parks_visualization.ipynb

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
import re
import numpy as np
import seaborn as sns
from scipy import stats

In [2]:
raw_data_path = "../Dataraw/"
annual_data_path = "../Datafiles/"
generated_data_path = "../Datagen/"

In [4]:
#laod  our data frame from past steps 
df = pd.read_csv(generated_data_path+'homeless_camp_closed_2023_parks_ftr_eng_3.csv', low_memory=False)
df.head(1)

,SRNumber,CreatedDate,UpdatedDate,ActionTaken,Owner,RequestType,Status,RequestSource,CreatedByUserOrganization,MobileOS,...,CENTER_LAT_y,CENTER_LON_y,ZIP_y,Shape__Area_y,Shape__Length_y,close_time_bins,is_county_ind,park_distance_bins,closed_days_scaled,park_distance_scaled
0,1-3202726931,01/01/2023 08:26:17 AM,01/31/2023 01:44:42 PM,SR Created,LASAN,Homeless Encampment,Closed,Self Service,Self Service_SAN,NaN,...,34.037657,-118.178443,90063.0,476404.567383,2824.807047,1.0,0,2,0.039295,0.054729

In [9]:
df.shape

(63104, 151)

In [11]:
#Clean up our data frame - simplify columns
df_source = df.copy()

In [17]:
df = df_source[['RequestSource','ZipCodeFmt','Anonymous','AssignTo','park_distance','close_time_days_x','closed_days_scaled','park_distance_scaled','is_county_ind','NDS_AN_TYP','COGP_TYP','ACCESS_TYP']].copy()

In [18]:
df.columns = df.columns.str.lower()
df.describe()

,zipcodefmt,park_distance,close_time_days_x,closed_days_scaled,park_distance_scaled,is_county_ind
count,63090.000000,63104.000000,63079.000000,63079.000000,63104.000000,63104.000000
mean,90465.801886,0.814033,84.476212,0.114466,0.023340,0.980619
std,634.715178,0.706546,95.161704,0.128945,0.020366,0.137860
min,90001.000000,0.004306,0.000000,0.000000,0.000000,0.000000
25%,90025.000000,0.354433,7.000000,0.009485,0.010092,1.000000
50%,90048.000000,0.635838,54.000000,0.073171,0.018204,1.000000
75%,91311.000000,1.055775,125.000000,0.169377,0.030308,1.000000
max,91607.000000,34.696842,738.000000,1.000000,1.000000,1.000000

In [19]:
df.columns

Index(['requestsource', 'zipcodefmt', 'anonymous', 'assignto', 'park_distance',
       'close_time_days_x', 'closed_days_scaled', 'park_distance_scaled',
       'is_county_ind', 'nds_an_typ', 'cogp_typ', 'access_typ'],
      dtype='object')

In [20]:
df.assignto.value_counts()

assignto
NC     22585
EV     12061
WLA    10768
SLA     9317
WV      6791
HB      1190
LSD      391
Name: count, dtype: int64

In [26]:
df.groupby('assignto').agg({'zipcodefmt': ['min', 'max']}   )

         zipcodefmt
                min      max
assignto
EV          90068.0  91607.0
HB          90044.0  90744.0
LSD         90007.0  90021.0
NC          90004.0  90732.0
SLA         90001.0  90062.0
WLA         90008.0  90404.0
WV          90049.0  91436.0

In [28]:
df.groupby('zipcodefmt').assignto.value_counts()

zipcodefmt  assignto
90001.0     SLA          206
90002.0     SLA          286
90003.0     SLA         1416
90004.0     NC          1216
90005.0     NC          1434
                        ...
91602.0     EV           947
91604.0     EV           365
91605.0     EV           903
91606.0     EV          1568
91607.0     EV           219
Name: count, Length: 147, dtype: int64

In [30]:
df.shape

(63104, 12)

In [31]:

df = df.dropna()

In [32]:

df.shape

(63064, 12)

In [37]:
df.rename(columns={'close_time_days_x': 'close_time_days' })
df.head(1)

,requestsource,zipcodefmt,anonymous,assignto,park_distance,close_time_days_x,closed_days_scaled,park_distance_scaled,is_county_ind,nds_an_typ,cogp_typ,access_typ
0,Self Service,90063.0,Y,NC,1.902999,29.0,0.039295,0.054729,0,Park 5 to 100 Acres,Neighborhood,Open Access

In [34]:
df.describe()

,zipcodefmt,park_distance,close_time_days_x,closed_days_scaled,park_distance_scaled,is_county_ind
count,63064.000000,63064.000000,63064.000000,63064.000000,63064.000000,63064.000000
mean,90465.838545,0.811804,84.468540,0.114456,0.023276,0.980623
std,634.749417,0.686861,95.155571,0.128937,0.019799,0.137848
min,90001.000000,0.004306,0.000000,0.000000,0.000000,0.000000
25%,90025.000000,0.354433,7.000000,0.009485,0.010092,1.000000
50%,90048.000000,0.635838,54.000000,0.073171,0.018204,1.000000
75%,91311.000000,1.055639,125.000000,0.169377,0.030304,1.000000
max,91607.000000,34.696842,738.000000,1.000000,1.000000,1.000000

## Predict Service Ticket Close Time
### Linear Regression

In [39]:
import numpy as np
from sklearn.linear_model import LinearRegression

ModuleNotFoundError: No module named 'sklearn'

In [ ]:

x = df['zipcodefmt','park_distance','is_county_ind']
y = df['close_time_days']