## Homeless Encampments in LA

##### Spring 2025
##### Amanda Alonzo
##### I513 Usable AI
##### Indiana University, Bloomington

## Machine Learning Clusters

#### Prerequisite: 5_ml_prediction.ipynb

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
import re
import numpy as np
import seaborn as sns
from scipy import stats

In [3]:
raw_data_path = "../Dataraw/"
annual_data_path = "../Datafiles/"
generated_data_path = "../Datagen/"

In [4]:
#laod  our data frame from past steps 
df = pd.read_csv(generated_data_path+'homeless_camp_closed_2023_parks_simplified.csv', low_memory=False)
df.head(1)

,requestsource,zipcodefmt,anonymous,assignto,park_distance,close_time_days,closed_days_scaled,park_distance_scaled,is_county_ind,nds_an_typ,cogp_typ,access_typ
0,Self Service,90063.0,Y,NC,1.902999,29.0,0.039295,0.054729,0,Park 5 to 100 Acres,Neighborhood,Open Access

In [5]:
df.shape

(63064, 12)

In [44]:
df.describe()

,zipcodefmt,park_distance,close_time_days,closed_days_scaled,park_distance_scaled,is_county_ind
count,63064.000000,63064.000000,63064.000000,63064.000000,63064.000000,63064.000000
mean,90465.838545,0.811804,84.468540,0.114456,0.023276,0.980623
std,634.749417,0.686861,95.155571,0.128937,0.019799,0.137848
min,90001.000000,0.004306,0.000000,0.000000,0.000000,0.000000
25%,90025.000000,0.354433,7.000000,0.009485,0.010092,1.000000
50%,90048.000000,0.635838,54.000000,0.073171,0.018204,1.000000
75%,91311.000000,1.055639,125.000000,0.169377,0.030304,1.000000
max,91607.000000,34.696842,738.000000,1.000000,1.000000,1.000000

## Cluster tickets
### Logistic Regression

In [50]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import normalize
from sklearn.metrics import r2_score

In [45]:

x = df[['zipcodefmt','park_distance','is_county_ind']]
y = df['close_time_days']

In [52]:

 X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=.2)